.head {
    width:1360px;
    height: 600px;
    background: url('../../public/images/pic1.jpg');
    background-size: cover;
    background-position: bottom;
    padding: 0px 40px 80px 40px;
}